body {
    margin: 16px 0;
    max-height: 100vh;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

h1 {
    margin: auto 24px;
}

p {
    text-align: center;
}

button {
    max-width: 100px;
}

#heading {
    justify-content: space-evenly;
    align-items: center;
    width: 90vh;
    max-width: 90vw;
}

.flex {
    display: flex;
}

.grid {
    flex-direction: column;
    align-items: center;
}

.row {
    width: 90vh;
    max-width: 90vw;
    justify-content: center;
    align-items: center;
}

.square {
    aspect-ratio: 1/1;
    flex: 1 1 auto;
    border: 1px solid #ddd;
}